<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/stylesheets/todos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4d8b6c6711.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.5.0.min.js"></script>
</head>
<body>
    <div id="container">
        <form action="/newtodo" method="post">
        <h1>To-Do List</h1><span class="create"><i class="fas fa-pencil-alt"></i></span>
        <input name="item" type="text" placeholder="Add New ToDo">
        </form>
        <ul>
            <% todoList.forEach(todolist => { %>
                <form id="del" action="/newtodo/<%= todolist._id %>?_method=DELETE" method="post">
                <li>
                        <span class="delete"><i class="fas fa-trash-alt"></i></span> <%= todolist.task %> 
                </li>
            </form>
            <% }) %>
        </ul>
    </div>



   <script src="/js/todos.js"></script>
</body>
</html>